$grey-background: #E5E5E5;
$white-background: #FFFFFF;
$primary-background: #008080;
$secondary-background: #376666;
$primary-text-color:#376666;
$secondary-text-color: #ffffff;
$alert-text-color:#c50d0d;
